.body{
    font-family: Montserrat, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 20.02px;
    color: black;
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing:antialiased;
    line-break: strict;
    text-size-adjust: 100%;
    height: 100%;
    display: block;
    width: 100%;
    font-weight: 400;
    overflow-x: hidden;
}
.fixedtop{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;

}
.container{
    box-sizing: border-box;
    height: 70px;
    width: auto;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    padding-top: 14px;
}
.incontainer{
    box-sizing: border-box;
    display: block;
    position: relative;
    text-size-adjust: 100%;
    height: 56px;
    background-origin: padding-box;
    background-size: auto;
    background-repeat: repeat;
    z-index: 1;
    background-position-x: 0%;
    background-position-y: 0%;
    width: auto;
}

.contentcontainer{
        box-sizing: border-box;
        display: block;
        height: 56px;
        margin-top:auto;
        margin-inline-start: 16px;
        margin-inline-end: 16px;
        position: relative;
        background-origin: padding-box;
     }
     .buttoncontainer{
        align-items: stretch;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgb(255, 255, 255);
        background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgba(0, 0, 0, 0.08);
        border-bottom-left-radius: 1000px;
        border-bottom-right-radius: 1000px;
        border-bottom-style: solid;
        border-bottom-width: 0.666667px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgba(0, 0, 0, 0.08);
        border-left-style: solid;
        border-left-width: 0.666667px;
        border-right-color: rgba(0, 0, 0, 0.08);
        border-right-style: solid;
        border-right-width: 0.666667px;
        border-top-color: rgba(0, 0, 0, 0.08);
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        border-top-style: solid;
        border-top-width: 0.666667px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
        box-sizing: border-box;
        color: rgba(34, 34, 34);
        contain: layout style;
        display: grid;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 14px;
        height: auto;
        line-break: strict;
        line-height: 20.02px;
        margin-inline-end: 50px;
        min-height: 56px;
        text-size-adjust: 100%;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
        unicode-bidi: isolate;
        width: auto;
        will-change: margin-inline-end;
        -webkit-font-smoothing: antialiased;
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }

    .iconcontainer{
        height: 20px;
        width: 52px;
        display: grid;
        align-items: center;
        text-align: start;
        justify-items: center;
        align-items: center;
        color: aqua;
        
    }
    .icon{
        height: 20px;
        width: 20px;
    }
    .content{
        box-sizing: border-box;
        height: 36px;
        width: 100%;
        padding: left 2px;
        display: block;
        line-height: 20px;
        text-align: start;
        display: flex;
        flex-direction: column;
    }
    .whereto{
        width: 100%;
        height:200px
    }
    .trio span{
        position: relative;
        display: inline-block;
    }
    .trio span::after {
        content: '•';
        font-size: 12px;
        position: relative;
        left: 3px; 
        margin-left:3px; 
        margin-right: 3px;
    }
    
    .trio span:last-child::after {
        content: '';
    }
    .logos{
        box-sizing: border-box;
        display: inline-flex;
        justify-content: flex-start;
        height: auto;
        overflow-x:auto;
        overflow-y: hidden;
        width: auto;
        font-size: 14px;
        line-height: 20.02px;
        text-size-adjust: 100%;
        color: rgb(34, 34, 34);
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-template-rows: 74px;
        -webkit-font-smoothing: antialiased;
        column-gap: 16px;
        contain: paint;
        line-break: strict;
        overscroll-behavior-inline: contain;
        padding-inline-end: 24px;
        padding-inline-start: 24px;
        row-gap: 16px;
        scroll-padding-inline-end: 24px;
        scroll-padding-inline-start: 24px;
        touch-action: auto;
        unicode-bidi: isolate;
        white-space: nowrap;
        flex-shrink: 1;
    }

    .scrollable{
        scroll-behavior: smooth;
        overflow-x: scroll;
     }
    .scrollable::-webkit-scrollbar{
        width:100px;
     }
    .label1{
        color: black;
        background-color: black;
        border-bottom-color: black;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 12px;
        background-color: white;
        margin-bottom: 10px;
        display: flex;
        border-top-left-radius: 8px;
        height: auto;
        min-width: 64px;
        width: max-content;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        line-height: 16px;
        white-space: normal;
        
    
    }   
        .iconcontainer1{
            align-items: center;
            flex-direction: column;
            min-width: 40px;
            width:auto;
            height:auto;
            font-size: 12px;
        }
        
        .img1{
            justify-self: center;

        }
         .iconstext{
            text-size-adjust: 100%;
            display: center;
            font-weight: 600;
            font-family: Montserrat, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
         }
         .picture{
            border-radius: 20px;
            position:relative ;
            height: 100%;
            width: 100%;
            display:inline-flex;
         }
         .piccontain{
            display: grid;
            row-gap: 30px;
            margin-bottom: 32px;
            margin-top: 24px;
            padding-left: 24px;
            padding-right: 24px;
            max-width: 100%;
        }
        .imgtext{
            white-space: nowrap;
            font-family: ;        
        }
        .lowerwholecontainer{
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 24px;
            padding-right: 24px;
            width: 100%;
            background-color: rgb(247, 247, 247);

        }
        .Header{
            white-space: nowrap;
            margin-bottom: 8px;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: -0.22px;
            text-size-adjust: 100%;
        }
        .getawaytopics{
            display: flex;
            box-sizing: border-box;
            overflow-x: visible;
            overflow-y: visible;
            text-wrap: nowrap;
            white-space-collapse: collapse;
            line-break: strict;
            line-height: 20.02px;
        }
        .topics{
            position: relative;
            align-items:flex-start;
            text-align: center;
            display: inline-flex;
            margin-bottom: 6px;
            margin-top: 6px;
            margin-right: 6px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            font-stretch: 100%;
            font-size: 14px;
        }
        .line{
            display:block;
            height: 1px;
            width: 580px;px;
            background-color: rgb(221, 221,221);
            font-size: 14px;
            line-break: strict;
            border-color: rgb(0.008, 0.008, blue);
        }
        .lowersubsection{
            padding-top: 32px;
            background-color: rgb(247,247,247);
        }
        .topiccontentbox{
            display: grid;
            column-gap: 8px;
            list-style-position: outside;
            row-gap: 24px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            list-style-type: none;

          }
            .footer{
                border-top-style: solid;
                border-top-color: rgb(221, 221,221);
                border-top-width: 0.666667px ;
                background-color: rgb(247,247,247);
                padding-inline-end: 24px;
                padding-inline-start: 24px;
            }
            .supportWholecontainer{
                background-color: black;
            }
            .supportcontainer{
                padding-block-end: 24px;
                padding-block-start: 24px;
                display: grid;
                column-gap: 12px;
                row-gap: 12px;
                border-top-color: rgb(221, 221, 221);
                padding-left: 0px;
                border-width: 0.666667px;
                border-top-style: solid;

            }
            .supporttext{
                list-style: none;
                list-style-position: outside;
                text-align: left;
                border-color: aquamarine;
               }
               .importantinfo{
                padding-block-end: 24px;
                padding-block-start: 24px;
                display: grid;
                column-gap: 12px;
                row-gap: 12px;
                border-top-color: rgb(221, 221, 221);
                padding-left: 0px;
                border-width: 0.666667px;
                border-top-style: solid;

               }
               .symbolinline{
                display: flex;
               }
               .altlist{
                padding-left: 0px;
                list-style-type:none;
                text-align: left;
                display: inline;
                margin-top: 0px;
                line-height: 26px;
               }
               .altlist span {
                position: relative;
                display: inline-block;
            }
            .altlist span::after {
                content: '•';
                font-size: 10px;
                position: relative;
                left: 3px; 
                margin-left:4px; 
                margin-right: 4px;
            }
            .finalcontainer{
                position: fixed;
                align-items: center;
                bottom: -50px;
                display: flex;
                height: 125px;
                width: 100%;
                color: rgb(34, 34, 34);
                background-color: rgb(255, 255, 255);
                border-top-style: solid;
                border-top-color: rgb(235, 235, 235);
                border-top-width: 0.6666667px;
                z-index: 1;
             }
             .endcontent{
                align-items: flex-start;
                display:flex;
                flex-basis: auto;
                flex-grow: 1;
                justify-content: center;
                max-width: 560px;
                -webkit-box-align: start;
                -webkit-box-pack: center;
             }
             .endcontentinner{
                flex-direction: column;
                flex-basis: auto;
                flex-grow: 1;
                flex-shrink: 1;
                max-width: 20%;
                padding-left: 2px;
                padding-right: 2px;
                text-decoration-style: solid;
                text-align: center;
                border-image-width: 1;
                align-items: flex-start;
                box-sizing: border-box;
                justify-content: center;
              
            }
            .iconslower{
                width: 30px;
                display: flex;
                position: relative;
                align-items: center;

               
            }