.body{
    font-family: Helvetica,Montserrat, sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    font-size: 14px;
    line-height: 20.02px;
    color: black;
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing:antialiased;
    line-break: strict;
    text-size-adjust: 100%;
    height: 100%;
    display: block;
}

.container{
    box-sizing: border-box;
    height: 70px;
    width: auto;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    padding-top: 14px;
}
.incontainer{
    box-sizing: border-box;
    display: block;
    position: relative;
    text-size-adjust: 100%;
    height: 56px;
    background-origin: padding-box;
    background-size: auto;
    background-repeat: repeat;
    z-index: 1;
    background-position-x: 0%;
    background-position-y: 0%;
    width: auto;
}


        
